extends _base.pug

block content
    div#sounds
        button#arabes Arabes
        button#cpasca Nan c'est pas ça !
        button#interesse Est-ce que ça m'intéresse ?
        button#jcomprendrien J'comprend rien
        button#jeanne Jeanne !
        button#jehurle Je huuuurle
        button#jteldisjtelcrie J'te l'dis !
        button#moitie_libanais Bah non !
        button#poulepondeuse Poule !

block script
    script(type='text/javascript' src='/js/soundboard.js')