extends _base.pug

block content
    div#sounds
        button#arabes Arabes
        button#cpasca Nan c'est pas ça !
        button#interesse Est-ce que ça m'intéresse ?
        button#jcomprendrien J'comprend rien
        button#lapin Lapin compris
        button#jeanne Jeanne !
        button#jteldisjtelcrie J'te l'dis !
        button#moitie_libanais Bah non !
        button#jehurle Je huuuurle
        button#poulepondeuse Poule !
        button#plusloin Plus loiiins
        button#pasmateub Non pas ma teub !
        button#team98 Team 98
        button#contrenaturehein C'est contre-nature1
        button#sasageyo Sasageyo
        button#menteur Menteur !
        button#douter J'aurais du m'en douter
        button#kestie Et toi kestié toi ?
        button#mauvaisrole Mauvais rôle
        button#ouloulou Ouloulou
        button#lorocou Sur la vie d'mon jnoun
        button#veau Roberto
        button#leviosa Wingardium
        button#israel Israel !
        button#noir Plus noir

block script
    script(type='text/javascript' src='/js/soundboard.js')